.container {
  width: 350px;
  margin: 50px auto;
  text-align: center;
  font-family: Arial;
}

.input-box {
  display: flex;
  gap: 10px;
  justify-content: center;
}

input {
  padding: 8px;
  width: 200px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  margin-top: 8px;
  background: #f2f2f2;
  border-radius: 5px;
}

li span {
  cursor: pointer;
}

.done span {
  text-decoration: line-through;
  color: gray;
}

/* Cross delete button */
.delete-btn {
  background: none;
  border: none;
  font-size: 20px;
  color: red;
  cursor: pointer;
}